{% comment %}
<section class="cookies">
  <div class="container">
    <div class="col-md-10">
      <div class="row"><p>NeIC uses cookies to give you the best experience on our website.</p></div>
    </div>
    <div class="col-md-2">
      <div class="row">
        <a href="#" class="cookies-ok white-hover-btn">OK</a>
      </div>
    </div>
  </div>
</section>
{% endcomment %}

<footer>
  <div class="container">
    <div class="row">
      <div class="col-md-3">
        <div class="row">
          <h4>VISITING ADDRESS</h4>
          <p>NeIC</p>
          <p>c/o CSC &mdash; IT Center for Science Ltd.</p>
          <p>Life Science Center Keilaniemi</p>
          <p>Keilaranta 14, 02150 Espoo</p>
          <p>Finland</p>
        </div>
      </div>
      <div class="col-md-3">
        <div class="row">
          <h4>POSTAL ADDRESS</h4>
          <p>NeIC</p>
          <p>c/o CSC &mdash; IT Center for Science Ltd.</p>
          <p>P.O Box 405, 02101 Espoo</p>
          <p>Finland</p>
        </div>
      </div>
      <div class="col-md-6">
        <div class="row">
          <h4>CONTACT US</h4>
          <p><a href="tel:35894572001">+358 9 457 2001</a> (switchboard)</p>
          <p>Director: Tomasz Malkiewicz, tomasz.malkiewicz -at- csc.fi</p>
          <p>
            Project Management Office:
            <br>
            Heli Lehtovuori and Marina Bouianov, neic-pmo -at- csc.fi
          </p>
        </div>
      </div>
    </div>
  </div>
  <div class="footer-bottom">
    &copy; NeIC
  </div>
</footer>
